*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    overflow: hidden;
} 

.container{
    width: 100%;
    min-height: 100vh;
    background-color: #FCFFE7;
}

nav{
    background-color: #40513B;
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 5rem;
    z-index: 999;
    line-height: 5rem;
}

.Name{
    color: white;
    display: flex;
    font-size: 2rem;
    font-weight: 800;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-transform: uppercase;
}

.Name b{
    font-size: 2.5rem;
    color: #9DC08B;
}

.nav-bar-items{
    display: flex;
}

.nav-bar-items li{
    list-style: none;
    margin: 0 0.75rem;
}

.nav-bar-items li a{
    color: #9DC08B;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    text-decoration: none;
    text-transform: capitalize;
}

.nav-bar-items li:hover a, .links a:hover{
    color: white;
}

.links a{
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 2rem;
    color: #9DC08B;
}