body {
    margin-top: 30px;
    text-align: center;
    font-family: 'Sarabun', sans-serif;
}

#Profile_pic {
    max-width: 300px;
    border-radius: 12px;
    height: auto; 
    width: auto; 
}

.Link_tree {
    list-style: none;
    padding: 0;
}

.Link_tree > li {
    margin: 12px 0 12px 0;
}

.Link_tree > li a {
    text-decoration: none;
    color: rgb(38, 38, 38);
    background-color: coral;
    border-radius: 6px;
    padding: 12px;
    display: block;
    max-width: 360px;
    width: 90%;
    margin: 0 auto;
}

.Link_tree > li:nth-child(1) a {
    background: #FFD8A9;
}
.Link_tree > li:nth-child(2) a {
    background: #f3af70;
}
.Link_tree > li:nth-child(3) a {
    background: #ed9e44;
}
.Link_tree > li:nth-child(4) a {
    background: #e98d25;
}

.Link_tree > li a:hover,
.Link_tree > li a:focus {
    color: white;
    background: chocolate;
}